body {
    font-weight: 200
}

main {
    min-height: 85vh;
    margin-top: 130px;
}

img  {
    width: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    font-weight: 200;
}

.btn-secondary {
    color: #fff;
    background-color: #3e78ac;
    border-color: #3e78ac;
}

.btn-secondary button:active {
    color: #fff;
    background-color: #1f4f79;
    border-color: #1f4f79;
}

.navbar{
    background-color: #1f4f79;
    box-shadow: 2px 2px 8px lightgray;
}

.navbar #basic-navbar-nav {
    font-weight: 300;
    font-size: .9rem;
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
}

#top-navigation {
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.dropdown-item a {
    color: gray;
    font-weight: 300;
    font-size: .9rem;
    text-transform: none;
}

.footer a {
    text-decoration: none;
    color: white
}
.footer {
    color: white;
}

.btn {
    font-weight: 200;
}

.home-btns {
    display: flex;
    justify-content: center;
}

.home-btns .btn {
    margin: 20px;
}

.loader {
    margin-top: 50px;
    margin-left: 100px;
}

.dropdown {
    margin-right: 20px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.product-details img {
    min-height: 300px;
    max-height: 500px;
}

.product-details a {
   color: black
}

.product-card {
    border: none;
    box-shadow: 2px 2px 8px lightgray;
    margin-bottom: 30px;
}

.product-card .maps{
    color: black
}

.product-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product-card .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.product-card .card-subtitle {
    font-weight: 400;
}

.status {
    text-transform: capitalize;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info img {
    max-height: 250px;
}

.profile-info .btn {
    margin: 5px;
}

.user-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    height: 120px;
    padding: 10px;
}

.user-card img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px
}

.user-card article {
    color: black;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.rating-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}

.rating-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px
}

.rating-card article {
    color: black;
    max-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.rating-card .card-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.admin-prod-card {
    display: 'flex';
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 10px;
}

.admin-prod-card .card-title {
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.admin-prod-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: .9rem;
}

.admin-list {
    margin: 20px 0px;
    max-height: 150px;
    width: 200px;
    overflow: scroll;
    border: .5px solid lightgray;
    border-radius: 4px;
}

.admin-modal-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .5px solid lightgray;
    border-radius: 4px;
    height: 60px;
    padding: 10px 15px;
    margin: 10px 0px
}

.home-texts p {
    margin-bottom: 5px;
}

.home-texts {
    margin-bottom: 30px;
}

/* p {

    background-color: #ffdb9980;
    background-color: #ff999980;
    background-color: #7ccb7c80;

} */