body {
    font-weight: 200
}

main {
    min-height: 75vh;
}

img  {
    width: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    font-weight: 200;
}

.btn-secondary {
    color: #fff;
    background-color: #3e78ac;
    border-color: #3e78ac;
}

.btn-secondary button:active {
    color: #fff;
    background-color: #1f4f79;
    border-color: #1f4f79;
}

.navbar{
    background-color: #1f4f79;
    box-shadow: 2px 2px 8px lightgray;
}

.navbar #basic-navbar-nav {
    font-weight: 300;
    font-size: .9rem;
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
}

.footer a {
    text-decoration: none;
    color: white
}
.footer {
    color: white;
}

.btn {
    font-weight: 200;
}

.home-btns {
    display: flex;
    justify-content: center;
}

.home-btns .btn {
    margin: 20px;
}

.loader {
    margin-top: 50px;
    margin-left: 100px;
}

.dropdown {
    margin-right: 20px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.product-details img {
    min-height: 300px;
    max-height: 500px;
}

.product-details a {
   color: black
}

.product-card {
    border: none;
    box-shadow: 2px 2px 8px lightgray;
    margin-bottom: 30px;
}

.product-card .maps{
    color: black
}

.product-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.product-card .card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.product-card .card-subtitle {
    font-weight: 400;
}

.status {
    text-transform: capitalize;
}

.profile img {
    max-height: 250px;
}

.profile-info .btn {
    margin-right: 20px;
}

.user-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
    height: 120px;
    padding: 10px;
}

.user-card img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px
}

.user-card article {
    color: black;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.glide__bullet {
    
}